<IfModule mod_rewrite.c>
    RewriteEngine On

    # 解决某些环境下 Authorization 头丢失的问题
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # 如果请求的不是一个真实存在的文件或目录，则转发给 index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>