RewriteEngine On

# If the request is for a file or directory that exists, serve it directly.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all other requests to index.php
RewriteRule . index.php [L]
