# IDEs and editors
.idea
.vscode

# Dependencies
/node_modules

# Build artifacts
/dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env*.local

# Test artifacts
/coverage
/test-results/
/playwright-report/
junit.xml

# Temporary files
.DS_Store
*.tmp
*.log
