# Dependencies
/node_modules
/frontend/node_modules

# Build outputs
/dist
/frontend/dist
/frontend/android/build
/frontend/android/app/build
*.apk
*.aab

# Mac files
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Configuration files
backend/config.php
