# IDE and OS specific
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Dependencies
/node_modules/
/vendor/

# Configuration
/backend/config.php

# Build output
/frontend/dist/

# Logs
*.log

# Other
.env
.env.*
!/.env.example
