
<IfModule mod_rewrite.c>
    RewriteEngine On

    # If the request is for a file in the backend or public folder, serve it directly.
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^(backend|public)/(.*)$ $1/$2 [L]

    # Otherwise, serve the frontend application.
    RewriteRule . /index.html [L]
</IfModule>

