:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border: 1px solid #555;
  border-radius: 8px;
  background-color: #2c2c2c;
  min-width: 300px;
}

input {
  padding: 0.6em 1.2em;
  font-size: 1em;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: #1a1a1a;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

.toggle-link {
  color: #646cff;
  cursor: pointer;
  text-decoration: underline;
}

.error-message {
  color: #ff6b6b;
}

.lottery-table {
    width: 100%;
    margin-top: 2rem;
    border-collapse: collapse;
}

.lottery-table th, .lottery-table td {
    border: 1px solid #444;
    padding: 8px;
    text-align: left;
}

.lottery-table th {
    background-color: #333;
}